<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>知问</title>
    <script type="text/javascript" src="static/js/jquery ui/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="static/js/jquery ui/js/jquery-ui-1.9.2.custom.js"></script>
    <script type="text/javascript" src="static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/jquery.form.js"></script>
    <script type="text/javascript" src="static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="static/uEditor/uEditor.js"></script>
    <link rel="stylesheet" href="static/js/jquery ui/css/base/jquery-ui-1.9.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <link href="static/uEditor/uEditor.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="header">
    <div class="header_main">
            <h1>知问</h1>
        <div class="sous">
            <input class="sous_a" name="nav" type="text">
        </div>
        <div class="sbt">
            <button id="sous_bt">搜索</button>
            <button id="wenti_bt">提问</button>
        </div>
        <div class="home">
            <a id="reg_b"  href="javascript:void (0)">注册</a>
            <a id="member"  href="javascript:void (0)">用户</a>
            |
            <a id="login_a"  href="javascript:void (0)">登录</a>
            <a id="logout"  href="javascript:void (0)">退出</a>
        </div>
    </div>
</div>
<div id="main">
    <div class="main_left">
        <div id="tabs">
            <ul>
                <li><a href="{:url('Index/index_tb1')}">tb1</a></li>
                <li><a href="{:url('Index/index_tb2')}">tb2</a></li>
                <li><a href="{:url('Index/index_tb3')}">tb3</a></li>
            </ul>
        </div>
        <div class="content">

        </div>
    </div>
    <div class="main_right">
        <div id="nav">
            <h1>菜单1</h1>
            <div>内容1</div>
            <h1>菜单2</h1>
            <div>内容2</div>
            <h1>菜单3</h1>
            <div>内容3</div>
        </div>
    </div>
</div>
<form id="reg"  action="{:url('Index/add_user')}" method="post" title="会员注册">
        <ol class="reg-error"></ol>
        <p>
            <label for="name">账号:</label>
                <input type="text" class="text" id="name" name="user" >
            <span class="star">*</span>
        </p>
        <p>
            <label for="pass">密码:</label>
              <input type="password" class="text" id="pass" name="password" >
            <span class="star">*</span>
        </p>
        <p>
              <label for="email">邮箱:</label>
              <input type="text" class="text" id="email" name="email">
             <span class="star">*</span>
        </p>
        <p>
            <label >性别:</label>
              <input type="radio" name="sex" value="男" id="sex" checked="checked"> <label for="sex">男</label>
              <input type="radio"  name="sex" value="女" id="fesex"><label for="fesex">女</label>
        </p>
        <p>
            <label for="bir">生日:</label>
               <input type="text" class="text" readonly="readonly" id="bir" name="birthday">
            <span class="star">*</span>
        </p>
    </form>
<form id="login"  action="{:url('Index/login_user')}" method="post" title="会员登录">
    <ol class="login-error"></ol>
    <p>
        <label for="name">账号:</label>
        <input type="text" class="text" id="login_n" name="user" >
        <span class="star">*</span>
    </p>
    <p>
        <label for="pass">密码:</label>
        <input type="password" class="text" id="login_p" name="password" >
        <span class="star">*</span>
    </p>
    <p>
        <input type="checkbox" name="expires" id="expires" checked="checked">
        <label for="expires">登录后有效期一周</label>
    </p>
</form>
<form id="tiwen"  action="{:url('Index/tiwen_user')}" method="post" title="提问">
    <ol class="tiwen-error"></ol>
    <p>
        <label for="q" >问题标题:</label>
        <input type="text" class="text" id="q" name="biaoti" style="width: 350px">
        <span class="star">*</span>
    </p>
    <p>
        <textarea id="w" name="content" class="uEditorCustom"></textarea>
    </p>
</form>
<div id="loading">数据交互中....</div>
<div id="error">请登陆后操作....</div>
</body>
</html>