<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>知问</title>
    <script type="text/javascript" src="static/js/jquery ui/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="static/js/jquery ui/js/jquery-ui-1.9.2.custom.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <link rel="stylesheet" href="static/js/jquery ui/css/base/jquery-ui-1.9.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
<div id="header">
    <div class="header_main">
            <h1>知问</h1>
        <div class="sous">
            <input class="sous_a" name="nav" type="text">
        </div>
        <div class="sbt">
            <button id="sous_bt">搜索</button>
        </div>
        <div class="home">
            <a id="login_a"  href="###">登录</a>|<a id="reg_b"  href="###">注册</a>
        </div>
    </div>
</div>
<div id="reg">
    <form action="" method="post">
        <p>
            <label for="name">账号:</label>
                <input type="text" class="text" id="name" name="user" title="请输入账号不少于2位！">
            <span class="star">*</span>
        </p>
        <p>
            <label for="pass">密码:</label>
              <input type="password" class="text" id="pass" name="password" title="请输入密码不少于3位！">
            <span class="star">*</span>
        </p>
        <p>
              <label for="email">邮箱:</label>
              <input type="text" class="text" id="email" name="email" title="请输入正确邮箱！">
             <span class="star">*</span>
        </p>
        <p>
            <label >性别:</label>
              <input type="radio" name="sex" value="male" id="sex" checked="checked"> <label for="sex">男</label>
              <input type="radio"  name="sex" value="female" id="fesex"><label for="fesex">女</label>
        </p>
        <p>
            <label for="bir">生日:</label>
               <input type="text" class="text" readonly="readonly" id="bir" name="birthday">
        </p>
    </form>
</div>
<div id="login">
</div>
</body>
</html>